html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#movement-container {
	display: flex;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#movement-vertical-container {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	position: relative;
}

#left {
	margin-left: 0;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#right {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 0;
}

#down {
	position: absolute;
	bottom: 0;
	top: auto;
}

.movement-button {
	position: relative;
	display: block;
}

.button {
	opacity: 0.8;
	background-color: grey;
	color: white;
}

@media only screen and (max-width: 1080px) {
	.button-sizing {
		width: 15vw;
		height: 15vw;
		font-size: 5vw;
	}
}

@media only screen and (min-width: 1081px) {
	.button-sizing {
		width: 5vw;
		height: 5vw;
		font-size: 1vw;
	}
}

#canvas {
	position: relative;
}

.control-button {
	position: absolute;
}

#start {
	top: auto;
	bottom: 0;
}

#reset {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}

#wall {
	left: auto;
	right: 0;
}